/*
 *  Stylesheet for Commonwealth Catering llc
 *  @ commonwealthcateringky.com
 *  Made by William Allemang
 *  Copyright 2020 Allemang Designs
*/

/*home page */
.logo {
  width: 200px;
  height: 200px;
}

.portrait {
  width: 68%;
  border: 1px solid black;
}

footer {
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/*menu page */
.menuImage {
  width: 100%/*1200px*/;
  border: 1px solid black;
}

/*menu */
.accordion {
  background-color: #eaeaea;
  color: #444;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
  margin: -20px 0px 0px 0px;
}

.menuactive, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.menuactive:after {
  content: "\2212";
}

.panel {
  padding: 0 50px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

@media screen and (max-width: 767px) {
  .panel{
    padding: 0px 5px;
  }

.accordion, .menu-item{
    font-size: 10px;
  }

}
/*end menu*/
