/*
 *  Stylesheet for Commonwealth Catering llc
 *  @ commonwealthcateringky.com
 *  Made by William Allemang
 *  Copyright 2020 Allemang Designs
*/

/*home page */
.logo {
  width: 200px;
  height: 200px;
}

.portrait {
  width: 68%;
  border: 1px solid black;
}

footer {
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/*menu page */
.menuImage {
  width: 100%/*1200px*/;
  border: 1px solid black;
}

/*menu */
.accordion {
  background-color: #eaeaea;
  color: #444;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
  margin: -20px 0px 0px 0px;
}

.menuactive, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.menuactive:after {
  content: "\2212";
}

.panel {
  padding: 0 50px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* end menu */
/*end menu page */

/* gallery page */
.galleryPhoto {
  width: 75%;
  border: 1px solid black;
}

.gallery {
  padding: 25px 0px 0px 0px;
}

/* lightbox clickable */
a.lightbox div {
  width: 350px;
  height: 350px;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
  margin: 94px 20px 20px 20px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Styles the lightbox, removes it from
sight and adds the fade-in transition */
.lightbox-target {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,.7);
  height: 75%;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
  z-index: 999;
}

/* Styles the lightbox image, centers
it vertically and horizontally, adds
the zoom-in transition and makes it
responsive using margin and absolute
positioning */
.lightbox-target div {
  /*width: auto;
  height: auto;*/
  margin: auto;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  /*border: 3px solid white;*/
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
  box-sizing: border-box;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Styles the close link, adds the
slide down transition */
a.lightbox-close {
  display: block;
  width:50px;
  height:50px;
  box-sizing: border-box;
  background: white;
  color: black;
  text-decoration: none;
  position: absolute;
  top: -80px;
  right: 0;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate
an image from the close link */
a.lightbox-close:before {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an
image from the close link */
a.lightbox-close:after {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top:10px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to
perform the animations upon clicking the
.lightbox-target anchor */

.lightbox-target:target {
opacity: 1;
/* top: 0%*/
top: 75px;
bottom: 0;
}

.lightbox-target:target div {
max-height: 100%;
max-width: 100%;
}

/*top positioning*/
.lightbox-target:target a.lightbox-close {
top: 0px;
}
/*done with album photo layout lightbox */






@media screen and (max-width: 767px) {
  .panel{
    padding: 0px 5px;
  }

.accordion, .menu-item{
    font-size: 10px;
  }

}
/*end menu*/
